{
  "openapi": "3.0.3",
  "info": {
    "title": "Elevate API",
    "version": "1.0.0",
    "description": "REST API for Elevate, a planning workspace for engineering teams. Authenticate via JWT bearer tokens (from /api/v1/auth/login) or API keys (X-API-Key header). Use workspace_id to scope all operations.",
    "contact": {
      "name": "Elevate"
    }
  },
  "servers": [
    {
      "url": "https://api.arcnvd.com/api/v1",
      "description": "Production"
    },
    {
      "url": "http://localhost:3001/api/v1",
      "description": "Local dev"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    },
    {
      "apiKeyAuth": []
    }
  ],
  "tags": [
    {
      "name": "Auth",
      "description": "Register, login, and user info"
    },
    {
      "name": "Workspaces",
      "description": "Create and manage workspaces"
    },
    {
      "name": "Board",
      "description": "Full board state with optional filters"
    },
    {
      "name": "Columns",
      "description": "Kanban columns — create, reorder, archive"
    },
    {
      "name": "Tasks",
      "description": "Task CRUD, move, batch operations, archive"
    },
    {
      "name": "Comments",
      "description": "Task comments"
    },
    {
      "name": "Attachments",
      "description": "File uploads and management"
    },
    {
      "name": "Checklists",
      "description": "Checklists and items"
    },
    {
      "name": "API Keys",
      "description": "Generate and manage API keys for external access"
    },
    {
      "name": "Webhooks",
      "description": "Real-time event notifications"
    },
    {
      "name": "Presence",
      "description": "User presence and online status"
    },
    {
      "name": "System",
      "description": "Health check and diagnostics"
    }
  ],
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      },
      "apiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "X-API-Key"
      }
    },
    "schemas": {
      "User": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "email": {
            "type": "string",
            "format": "email",
            "example": "user@example.com"
          },
          "name": {
            "type": "string"
          },
          "avatar": {
            "type": "string",
            "nullable": true,
            "format": "uri"
          }
        },
        "required": [
          "id",
          "email",
          "name"
        ]
      },
      "WorkspaceMember": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "email": {
            "type": "string",
            "format": "email",
            "example": "user@example.com"
          },
          "name": {
            "type": "string"
          },
          "avatar": {
            "type": "string",
            "nullable": true,
            "format": "uri"
          },
          "role": {
            "type": "string",
            "enum": [
              "owner",
              "admin",
              "member",
              "viewer"
            ],
            "description": "Role within a workspace",
            "example": "member"
          }
        },
        "required": [
          "id",
          "email",
          "name",
          "role"
        ]
      },
      "Workspace": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "memberCount": {
            "type": "integer"
          },
          "myRole": {
            "type": "string",
            "enum": [
              "owner",
              "admin",
              "member",
              "viewer"
            ],
            "description": "Role within a workspace",
            "example": "member"
          },
          "codePrefix": {
            "type": "string"
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "example": "2026-05-16T10:30:00.000Z"
          }
        },
        "required": [
          "id",
          "name"
        ]
      },
      "Column": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "title": {
            "type": "string"
          },
          "position": {
            "type": "integer"
          },
          "taskIds": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        },
        "required": [
          "id",
          "title",
          "position",
          "taskIds"
        ]
      },
      "Task": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "title": {
            "type": "string"
          },
          "priority": {
            "type": "string",
            "enum": [
              "Critical",
              "High",
              "Medium",
              "Low"
            ],
            "example": "High"
          },
          "code": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "assigneeId": {
            "type": "string",
            "nullable": true
          },
          "dueDate": {
            "type": "string",
            "nullable": true
          },
          "tags": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "commentCount": {
            "type": "integer"
          },
          "attachmentCount": {
            "type": "integer"
          },
          "checklists": {
            "type": "array",
            "items": {
              "nullable": true
            }
          },
          "columnId": {
            "type": "string"
          }
        },
        "required": [
          "id",
          "title",
          "columnId"
        ]
      },
      "Comment": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "text": {
            "type": "string"
          },
          "authorName": {
            "type": "string"
          },
          "authorAvatar": {
            "type": "string",
            "nullable": true,
            "format": "uri"
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "example": "2026-05-16T10:30:00.000Z"
          }
        },
        "required": [
          "id",
          "text",
          "created_at"
        ]
      },
      "ChecklistItem": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "text": {
            "type": "string"
          },
          "done": {
            "type": "boolean"
          }
        },
        "required": [
          "id",
          "text",
          "done"
        ]
      },
      "Checklist": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "title": {
            "type": "string"
          },
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ChecklistItem"
            }
          }
        },
        "required": [
          "id",
          "title",
          "items"
        ]
      },
      "ApiKey": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "key_prefix": {
            "type": "string"
          },
          "scopes": {
            "type": "string"
          },
          "last_used_at": {
            "type": "string",
            "nullable": true,
            "format": "date-time",
            "example": "2026-05-16T10:30:00.000Z"
          },
          "expires_at": {
            "type": "string",
            "nullable": true,
            "format": "date-time",
            "example": "2026-05-16T10:30:00.000Z"
          }
        },
        "required": [
          "id",
          "name",
          "key_prefix",
          "scopes"
        ]
      },
      "Webhook": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "url": {
            "type": "string",
            "format": "uri"
          },
          "events": {
            "type": "string"
          },
          "active": {
            "type": "boolean"
          }
        },
        "required": [
          "id",
          "url",
          "events",
          "active"
        ]
      },
      "Error": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string"
          },
          "code": {
            "type": "string"
          },
          "requestId": {
            "type": "string"
          }
        },
        "required": [
          "error",
          "code"
        ]
      }
    },
    "parameters": {}
  },
  "paths": {
    "/workspaces/{workspaceId}/activity": {
      "get": {
        "tags": [
          "Workspaces"
        ],
        "summary": "Get activity log",
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "required": true,
            "name": "workspaceId",
            "in": "path"
          },
          {
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 200,
              "default": 50
            },
            "required": false,
            "name": "limit",
            "in": "query"
          },
          {
            "schema": {
              "type": "integer",
              "nullable": true,
              "minimum": 0,
              "default": 0
            },
            "required": false,
            "name": "offset",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Activity list"
          }
        }
      }
    },
    "/workspaces/{workspaceId}/api-keys": {
      "get": {
        "tags": [
          "API Keys"
        ],
        "summary": "List API keys",
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "required": true,
            "name": "workspaceId",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "API key list"
          },
          "403": {
            "description": "User session required"
          }
        }
      },
      "post": {
        "tags": [
          "API Keys"
        ],
        "summary": "Create API key",
        "description": "The raw key value is returned only once at creation time. Viewers cannot create API keys.",
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "required": true,
            "name": "workspaceId",
            "in": "path"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 100
                  },
                  "scopes": {
                    "type": "string",
                    "maxLength": 200
                  },
                  "expires_at": {
                    "type": "string",
                    "maxLength": 64
                  }
                },
                "required": [
                  "name"
                ]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "API key created",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ApiKey"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "key": {
                          "type": "string",
                          "description": "Returned only once. Store securely."
                        },
                        "created_at": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "key",
                        "created_at"
                      ]
                    }
                  ]
                }
              }
            }
          },
          "403": {
            "description": "User session required"
          }
        }
      }
    },
    "/workspaces/{workspaceId}/api-keys/{keyId}": {
      "delete": {
        "tags": [
          "API Keys"
        ],
        "summary": "Revoke API key",
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "required": true,
            "name": "workspaceId",
            "in": "path"
          },
          {
            "schema": {
              "type": "string"
            },
            "required": true,
            "name": "keyId",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "Revoked"
          },
          "403": {
            "description": "User session required"
          },
          "404": {
            "description": "API key not found"
          }
        }
      }
    },
    "/tasks/{taskId}/attachments": {
      "post": {
        "tags": [
          "Attachments"
        ],
        "summary": "Upload attachment",
        "description": "Image upload (JPEG/PNG/GIF/WebP), max 5 MB. The response carries the public URL the client should use.",
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "required": true,
            "name": "taskId",
            "in": "path"
          }
        ],
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "file": {
                    "type": "string",
                    "format": "binary"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Uploaded",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "task_id": {
                      "type": "string"
                    },
                    "type": {
                      "type": "string"
                    },
                    "url": {
                      "type": "string"
                    },
                    "name": {
                      "type": "string"
                    },
                    "mime_type": {
                      "type": "string",
                      "nullable": true
                    },
                    "size": {
                      "type": "number",
                      "nullable": true
                    },
                    "sha256": {
                      "type": "string",
                      "nullable": true
                    }
                  },
                  "required": [
                    "id",
                    "task_id",
                    "type",
                    "url",
                    "name"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Invalid file"
          }
        }
      }
    },
    "/attachments/{id}/file": {
      "get": {
        "tags": [
          "Attachments"
        ],
        "summary": "Download attachment file",
        "description": "Streams the attachment bytes. Authenticated via either the standard session/API-key headers, or via a signed `?token=` query parameter (used by `<img>` tags which cannot send headers). Tokens expire after 1 hour and are bound to the requesting user.",
        "security": [],
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "required": true,
            "name": "id",
            "in": "path"
          },
          {
            "schema": {
              "type": "string"
            },
            "required": false,
            "name": "token",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "File stream"
          },
          "401": {
            "description": "Missing or invalid credentials"
          },
          "404": {
            "description": "Attachment not found"
          }
        }
      }
    },
    "/attachments/{id}": {
      "delete": {
        "tags": [
          "Attachments"
        ],
        "summary": "Delete attachment",
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "required": true,
            "name": "id",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "Deleted"
          }
        }
      }
    },
    "/auth/register": {
      "post": {
        "tags": [
          "Auth"
        ],
        "summary": "Register a new user",
        "security": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "email": {
                    "type": "string",
                    "format": "email",
                    "example": "user@example.com"
                  },
                  "name": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 100
                  },
                  "password": {
                    "type": "string",
                    "minLength": 8,
                    "maxLength": 128
                  }
                },
                "required": [
                  "email",
                  "name",
                  "password"
                ]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "User created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "user": {
                      "$ref": "#/components/schemas/User"
                    },
                    "token": {
                      "type": "string",
                      "example": "eyJhbGciOiJIUzI1NiIs..."
                    },
                    "csrfToken": {
                      "type": "string",
                      "example": "dGVzdC1jc3JmLXRva2Vu"
                    }
                  },
                  "required": [
                    "user",
                    "token",
                    "csrfToken"
                  ]
                }
              }
            }
          },
          "409": {
            "description": "Email already exists"
          }
        }
      }
    },
    "/auth/login": {
      "post": {
        "tags": [
          "Auth"
        ],
        "summary": "Login",
        "security": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "email": {
                    "type": "string",
                    "format": "email",
                    "example": "user@example.com"
                  },
                  "password": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 128
                  }
                },
                "required": [
                  "email",
                  "password"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Login successful",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "user": {
                      "$ref": "#/components/schemas/User"
                    },
                    "token": {
                      "type": "string",
                      "example": "eyJhbGciOiJIUzI1NiIs..."
                    },
                    "csrfToken": {
                      "type": "string",
                      "example": "dGVzdC1jc3JmLXRva2Vu"
                    }
                  },
                  "required": [
                    "user",
                    "token",
                    "csrfToken"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Invalid credentials"
          },
          "429": {
            "description": "Account temporarily locked due to failed attempts"
          }
        }
      }
    },
    "/auth/refresh": {
      "post": {
        "tags": [
          "Auth"
        ],
        "summary": "Refresh access token",
        "description": "Reads the HttpOnly `elevate_refresh` cookie, validates the double-submit CSRF token, rotates the refresh cookie, and returns a new short-lived access JWT.",
        "security": [],
        "responses": {
          "200": {
            "description": "New access token"
          },
          "401": {
            "description": "Invalid or expired session"
          },
          "403": {
            "description": "Invalid CSRF token"
          }
        }
      }
    },
    "/auth/logout": {
      "post": {
        "tags": [
          "Auth"
        ],
        "summary": "Logout",
        "description": "Revokes the refresh-token family, clears session cookies, and requires the double-submit CSRF token.",
        "security": [],
        "responses": {
          "204": {
            "description": "Logged out"
          },
          "403": {
            "description": "Invalid CSRF token"
          }
        }
      }
    },
    "/auth/me": {
      "get": {
        "tags": [
          "Auth"
        ],
        "summary": "Get current user",
        "responses": {
          "200": {
            "description": "Current user"
          },
          "401": {
            "description": "Not authenticated"
          }
        }
      },
      "patch": {
        "tags": [
          "Auth"
        ],
        "summary": "Update current user profile",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 100
                  },
                  "avatar": {
                    "type": "string",
                    "nullable": true,
                    "maxLength": 2097152
                  },
                  "password": {
                    "type": "string",
                    "minLength": 8,
                    "maxLength": 128
                  },
                  "currentPassword": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated user"
          },
          "400": {
            "description": "Validation error"
          },
          "401": {
            "description": "Current password incorrect"
          },
          "403": {
            "description": "User session required"
          }
        }
      }
    },
    "/auth/avatar": {
      "post": {
        "tags": [
          "Auth"
        ],
        "summary": "Upload my avatar",
        "description": "Replaces the calling user's avatar. Bytes go to object storage; the user row only keeps a URL pointer (~tens of bytes).",
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "file": {
                    "type": "string",
                    "format": "binary"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Avatar saved"
          },
          "400": {
            "description": "Invalid file"
          },
          "403": {
            "description": "User session required"
          }
        }
      }
    },
    "/avatars/{userId}/{filename}": {
      "get": {
        "tags": [
          "Auth"
        ],
        "summary": "Stream avatar bytes",
        "description": "Public read endpoint so <img> tags can render avatars without an Authorization header. Same posture as Slack / GitHub user-content URLs.",
        "security": [],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": true,
            "name": "userId",
            "in": "path"
          },
          {
            "schema": {
              "type": "string",
              "pattern": "^[\\w.-]+$"
            },
            "required": true,
            "name": "filename",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "Avatar bytes"
          },
          "404": {
            "description": "Avatar not found"
          }
        }
      }
    },
    "/board/{workspaceId}": {
      "get": {
        "tags": [
          "Board"
        ],
        "summary": "Get full board",
        "description": "Returns the full board state for a workspace: all tasks, columns, and the column order.",
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "required": true,
            "name": "workspaceId",
            "in": "path"
          },
          {
            "schema": {
              "type": "string"
            },
            "required": false,
            "name": "search",
            "in": "query"
          },
          {
            "schema": {
              "type": "string"
            },
            "required": false,
            "name": "priority",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "description": "Comma-separated tags"
            },
            "required": false,
            "description": "Comma-separated tags",
            "name": "tags",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Board state",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "tasks": {
                      "type": "object",
                      "additionalProperties": {
                        "$ref": "#/components/schemas/Task"
                      }
                    },
                    "columns": {
                      "type": "object",
                      "additionalProperties": {
                        "$ref": "#/components/schemas/Column"
                      }
                    },
                    "columnOrder": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    }
                  },
                  "required": [
                    "tasks",
                    "columns",
                    "columnOrder"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/tasks/{taskId}/checklists": {
      "post": {
        "tags": [
          "Checklists"
        ],
        "summary": "Create checklist",
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "required": true,
            "name": "taskId",
            "in": "path"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "title": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 200
                  }
                },
                "required": [
                  "title"
                ]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Checklist"
                }
              }
            }
          }
        }
      }
    },
    "/checklists/{id}": {
      "delete": {
        "tags": [
          "Checklists"
        ],
        "summary": "Delete checklist",
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "required": true,
            "name": "id",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "Deleted"
          }
        }
      }
    },
    "/checklists/{id}/items": {
      "post": {
        "tags": [
          "Checklists"
        ],
        "summary": "Add checklist item",
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "required": true,
            "name": "id",
            "in": "path"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "text": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 500
                  },
                  "targetCount": {
                    "type": "integer",
                    "minimum": 1
                  }
                },
                "required": [
                  "text"
                ]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Item added",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ChecklistItem"
                }
              }
            }
          }
        }
      }
    },
    "/checklist-items/{id}": {
      "patch": {
        "tags": [
          "Checklists"
        ],
        "summary": "Update checklist item",
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "required": true,
            "name": "id",
            "in": "path"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "done": {
                    "type": "boolean"
                  },
                  "currentCount": {
                    "type": "integer",
                    "minimum": 0
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ChecklistItem"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Checklists"
        ],
        "summary": "Delete checklist item",
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "required": true,
            "name": "id",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "Deleted"
          }
        }
      }
    },
    "/columns": {
      "post": {
        "tags": [
          "Columns"
        ],
        "summary": "Create column",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "workspaceId": {
                    "type": "string",
                    "pattern": "^[a-zA-Z0-9-]+$",
                    "example": "trust-and-safety"
                  },
                  "title": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 200
                  }
                },
                "required": [
                  "workspaceId",
                  "title"
                ]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Column created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Column"
                }
              }
            }
          }
        }
      }
    },
    "/columns/{id}": {
      "patch": {
        "tags": [
          "Columns"
        ],
        "summary": "Rename column",
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "required": true,
            "name": "id",
            "in": "path"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "title": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 200
                  }
                },
                "required": [
                  "title"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Column"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Columns"
        ],
        "summary": "Delete column",
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "required": true,
            "name": "id",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "Deleted"
          }
        }
      }
    },
    "/columns/reorder": {
      "post": {
        "tags": [
          "Columns"
        ],
        "summary": "Reorder columns",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "workspaceId": {
                    "type": "string",
                    "pattern": "^[a-zA-Z0-9-]+$",
                    "example": "trust-and-safety"
                  },
                  "columnOrder": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  }
                },
                "required": [
                  "workspaceId",
                  "columnOrder"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Reordered"
          }
        }
      }
    },
    "/columns/archive/{id}": {
      "post": {
        "tags": [
          "Columns"
        ],
        "summary": "Archive column",
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "required": true,
            "name": "id",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "Archived"
          }
        }
      }
    },
    "/columns/restore/{id}": {
      "post": {
        "tags": [
          "Columns"
        ],
        "summary": "Restore column",
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "required": true,
            "name": "id",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "Restored"
          }
        }
      }
    },
    "/tasks/{taskId}/comments": {
      "post": {
        "tags": [
          "Comments"
        ],
        "summary": "Add comment",
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "required": true,
            "name": "taskId",
            "in": "path"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "text": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 5000
                  }
                },
                "required": [
                  "text"
                ]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Comment added",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Comment"
                }
              }
            }
          }
        }
      }
    },
    "/auth/oauth/providers": {
      "get": {
        "tags": [
          "Auth"
        ],
        "summary": "List configured OAuth providers",
        "description": "The frontend uses this to render only the buttons that are actually wired up via env vars.",
        "security": [],
        "responses": {
          "200": {
            "description": "Configured providers"
          }
        }
      }
    },
    "/auth/oauth/exchange": {
      "post": {
        "tags": [
          "Auth"
        ],
        "summary": "Exchange OAuth access token for session cookies",
        "description": "Accepts the short-lived access JWT from the OAuth callback URL fragment, verifies it, ensures refresh + CSRF cookies are set on the API origin, and returns `{ user, token, csrfToken }` for cross-origin SPAs.",
        "security": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "token": {
                    "type": "string",
                    "minLength": 1
                  }
                },
                "required": [
                  "token"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Session established"
          },
          "401": {
            "description": "Invalid or expired token"
          }
        }
      }
    },
    "/auth/oauth/{provider}/start": {
      "get": {
        "tags": [
          "Auth"
        ],
        "summary": "Begin OAuth flow",
        "description": "Redirects the browser to the provider consent screen. Pass `?redirect=/some/path` to come back to a specific frontend route after success.",
        "security": [],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "enum": [
                "google",
                "github"
              ]
            },
            "required": true,
            "name": "provider",
            "in": "path"
          },
          {
            "schema": {
              "type": "string"
            },
            "required": false,
            "name": "redirect",
            "in": "query"
          }
        ],
        "responses": {
          "302": {
            "description": "Redirect to provider"
          },
          "404": {
            "description": "Provider not configured"
          }
        }
      }
    },
    "/auth/oauth/{provider}/callback": {
      "get": {
        "tags": [
          "Auth"
        ],
        "summary": "OAuth callback",
        "description": "Provider redirects here after consent. We exchange the code, mint a JWT, and bounce back to the frontend.",
        "security": [],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "enum": [
                "google",
                "github"
              ]
            },
            "required": true,
            "name": "provider",
            "in": "path"
          },
          {
            "schema": {
              "type": "string"
            },
            "required": false,
            "name": "code",
            "in": "query"
          },
          {
            "schema": {
              "type": "string"
            },
            "required": false,
            "name": "state",
            "in": "query"
          },
          {
            "schema": {
              "type": "string"
            },
            "required": false,
            "name": "error",
            "in": "query"
          },
          {
            "schema": {
              "type": "string"
            },
            "required": false,
            "name": "error_description",
            "in": "query"
          }
        ],
        "responses": {
          "302": {
            "description": "Redirect back to frontend"
          }
        }
      }
    },
    "/workspaces/{workspaceId}/presence/heartbeat": {
      "post": {
        "tags": [
          "Presence"
        ],
        "summary": "Send heartbeat",
        "description": "Call every 30 seconds to mark the user as active in a workspace.",
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "required": true,
            "name": "workspaceId",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/workspaces/{workspaceId}/presence": {
      "get": {
        "tags": [
          "Presence"
        ],
        "summary": "Get online users",
        "description": "Returns users seen in the last 60 seconds.",
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "required": true,
            "name": "workspaceId",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "Online users"
          }
        }
      }
    },
    "/health": {
      "get": {
        "tags": [
          "System"
        ],
        "summary": "Health check",
        "description": "Returns ok=true when the API is up.",
        "security": [],
        "responses": {
          "200": {
            "description": "Service is healthy"
          }
        }
      }
    },
    "/tasks": {
      "post": {
        "tags": [
          "Tasks"
        ],
        "summary": "Create task",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "columnId": {
                    "type": "string",
                    "pattern": "^[a-zA-Z0-9-]+$",
                    "example": "trust-and-safety"
                  },
                  "title": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 500
                  },
                  "priority": {
                    "type": "string",
                    "enum": [
                      "Critical",
                      "High",
                      "Medium",
                      "Low"
                    ],
                    "example": "High"
                  },
                  "tags": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "description": {
                    "type": "string",
                    "maxLength": 10000
                  },
                  "dueDate": {
                    "type": "string"
                  },
                  "assigneeId": {
                    "type": "string",
                    "nullable": true
                  }
                },
                "required": [
                  "columnId",
                  "title"
                ]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Task created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Task"
                }
              }
            }
          }
        }
      }
    },
    "/tasks/{id}": {
      "patch": {
        "tags": [
          "Tasks"
        ],
        "summary": "Update task",
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "required": true,
            "name": "id",
            "in": "path"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "title": {
                    "type": "string",
                    "maxLength": 500
                  },
                  "priority": {
                    "type": "string",
                    "enum": [
                      "Critical",
                      "High",
                      "Medium",
                      "Low"
                    ],
                    "example": "High"
                  },
                  "tags": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "description": {
                    "type": "string",
                    "maxLength": 10000
                  },
                  "dueDate": {
                    "type": "string"
                  },
                  "assigneeId": {
                    "type": "string",
                    "nullable": true
                  },
                  "customFields": {
                    "type": "object",
                    "additionalProperties": {
                      "nullable": true
                    }
                  },
                  "labelIds": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "sprintId": {
                    "type": "string",
                    "nullable": true
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Task"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Tasks"
        ],
        "summary": "Delete task",
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "required": true,
            "name": "id",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "Deleted"
          }
        }
      }
    },
    "/tasks/{id}/move": {
      "patch": {
        "tags": [
          "Tasks"
        ],
        "summary": "Move task",
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "required": true,
            "name": "id",
            "in": "path"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "targetColumnId": {
                    "type": "string",
                    "pattern": "^[a-zA-Z0-9-]+$",
                    "example": "trust-and-safety"
                  }
                },
                "required": [
                  "targetColumnId"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Moved",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Task"
                }
              }
            }
          }
        }
      }
    },
    "/tasks/batch/move": {
      "post": {
        "tags": [
          "Tasks"
        ],
        "summary": "Batch move tasks",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "taskIds": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "targetColumnId": {
                    "type": "string",
                    "pattern": "^[a-zA-Z0-9-]+$",
                    "example": "trust-and-safety"
                  }
                },
                "required": [
                  "taskIds",
                  "targetColumnId"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Batch moved"
          }
        }
      }
    },
    "/tasks/{id}/archive": {
      "post": {
        "tags": [
          "Tasks"
        ],
        "summary": "Archive task",
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "required": true,
            "name": "id",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "Archived"
          }
        }
      }
    },
    "/tasks/{id}/restore": {
      "post": {
        "tags": [
          "Tasks"
        ],
        "summary": "Restore task",
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "required": true,
            "name": "id",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "Restored"
          }
        }
      }
    },
    "/tasks/purge-archived": {
      "post": {
        "tags": [
          "Tasks"
        ],
        "summary": "Purge archived tasks older than 30 days",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "workspaceId": {
                    "type": "string",
                    "pattern": "^[a-zA-Z0-9-]+$",
                    "example": "trust-and-safety"
                  }
                },
                "required": [
                  "workspaceId"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Purged"
          }
        }
      }
    },
    "/tasks/{taskId}/watchers": {
      "get": {
        "tags": [
          "Watchers"
        ],
        "summary": "List task watchers",
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "required": true,
            "name": "taskId",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "Watcher list + caller status"
          }
        }
      },
      "post": {
        "tags": [
          "Watchers"
        ],
        "summary": "Watch task",
        "description": "Adds the calling user as a watcher. Idempotent.",
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "required": true,
            "name": "taskId",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "Updated watcher list"
          }
        }
      },
      "delete": {
        "tags": [
          "Watchers"
        ],
        "summary": "Unwatch task",
        "description": "Removes the calling user from watchers. Idempotent.",
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "required": true,
            "name": "taskId",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "Updated watcher list"
          }
        }
      }
    },
    "/workspaces/{workspaceId}/webhooks": {
      "get": {
        "tags": [
          "Webhooks"
        ],
        "summary": "List webhooks",
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "required": true,
            "name": "workspaceId",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "Webhook list"
          }
        }
      },
      "post": {
        "tags": [
          "Webhooks"
        ],
        "summary": "Create webhook",
        "description": "Returns the signing secret only once at creation time.",
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "required": true,
            "name": "workspaceId",
            "in": "path"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "url": {
                    "type": "string",
                    "maxLength": 500,
                    "format": "uri"
                  },
                  "events": {
                    "type": "string",
                    "maxLength": 500
                  },
                  "active": {
                    "type": "boolean"
                  }
                },
                "required": [
                  "url"
                ]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Webhook created",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Webhook"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "secret": {
                          "type": "string",
                          "description": "Returned only once. Store securely."
                        },
                        "created_at": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "secret",
                        "created_at"
                      ]
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/workspaces/{workspaceId}/webhooks/{id}": {
      "patch": {
        "tags": [
          "Webhooks"
        ],
        "summary": "Update webhook",
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "required": true,
            "name": "workspaceId",
            "in": "path"
          },
          {
            "schema": {
              "type": "string"
            },
            "required": true,
            "name": "id",
            "in": "path"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "url": {
                    "type": "string",
                    "maxLength": 500,
                    "format": "uri"
                  },
                  "events": {
                    "type": "string",
                    "maxLength": 500
                  },
                  "active": {
                    "type": "boolean"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated"
          },
          "404": {
            "description": "Webhook not found"
          }
        }
      },
      "delete": {
        "tags": [
          "Webhooks"
        ],
        "summary": "Delete webhook",
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "required": true,
            "name": "workspaceId",
            "in": "path"
          },
          {
            "schema": {
              "type": "string"
            },
            "required": true,
            "name": "id",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "Deleted"
          },
          "404": {
            "description": "Webhook not found"
          }
        }
      }
    },
    "/workspaces/{workspaceId}/webhooks/{id}/test": {
      "post": {
        "tags": [
          "Webhooks"
        ],
        "summary": "Send test ping",
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "required": true,
            "name": "workspaceId",
            "in": "path"
          },
          {
            "schema": {
              "type": "string"
            },
            "required": true,
            "name": "id",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "Test ping sent"
          },
          "404": {
            "description": "Webhook not found"
          }
        }
      }
    },
    "/workspaces/{workspaceId}/logo": {
      "post": {
        "tags": [
          "Workspaces"
        ],
        "summary": "Upload workspace logo",
        "description": "Replaces the workspace logo. Max 2 MB. Owner / admin only.",
        "parameters": [
          {
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 200
            },
            "required": true,
            "name": "workspaceId",
            "in": "path"
          }
        ],
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "file": {
                    "type": "string",
                    "format": "binary"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Logo saved"
          },
          "400": {
            "description": "Invalid file"
          },
          "403": {
            "description": "Insufficient role"
          }
        }
      }
    },
    "/logos/{workspaceId}/{filename}": {
      "get": {
        "tags": [
          "Workspaces"
        ],
        "summary": "Stream workspace logo",
        "description": "Public so `<img>` tags can render without auth headers. URL changes when the logo is replaced, so a 1-week immutable cache is safe.",
        "security": [],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 200
            },
            "required": true,
            "name": "workspaceId",
            "in": "path"
          },
          {
            "schema": {
              "type": "string",
              "pattern": "^[\\w.-]+$"
            },
            "required": true,
            "name": "filename",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "Logo bytes"
          },
          "404": {
            "description": "Logo not found"
          }
        }
      }
    },
    "/workspaces/{workspaceId}/background": {
      "post": {
        "tags": [
          "Workspaces"
        ],
        "summary": "Upload board background image",
        "description": "Replaces the board background image. Max 5 MB. Owner / admin only. Set the workspace `background` field directly to clear the image or use a CSS color instead.",
        "parameters": [
          {
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 200
            },
            "required": true,
            "name": "workspaceId",
            "in": "path"
          }
        ],
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "file": {
                    "type": "string",
                    "format": "binary"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Background saved"
          },
          "400": {
            "description": "Invalid file"
          },
          "403": {
            "description": "Insufficient role"
          }
        }
      }
    },
    "/backgrounds/{workspaceId}/{filename}": {
      "get": {
        "tags": [
          "Workspaces"
        ],
        "summary": "Stream board background image",
        "description": "Public so `<img>` tags can render without auth headers. URL changes when replaced, so a 1-week immutable cache is safe.",
        "security": [],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 200
            },
            "required": true,
            "name": "workspaceId",
            "in": "path"
          },
          {
            "schema": {
              "type": "string",
              "pattern": "^[\\w.-]+$"
            },
            "required": true,
            "name": "filename",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "Background bytes"
          },
          "404": {
            "description": "Background not found"
          }
        }
      }
    },
    "/workspaces": {
      "get": {
        "tags": [
          "Workspaces"
        ],
        "summary": "List workspaces",
        "description": "List all workspaces the authenticated user is a member of.",
        "responses": {
          "200": {
            "description": "Workspace list"
          }
        }
      },
      "post": {
        "tags": [
          "Workspaces"
        ],
        "summary": "Create workspace",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 100
                  }
                },
                "required": [
                  "name"
                ]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Workspace"
                }
              }
            }
          },
          "400": {
            "description": "Validation error"
          },
          "403": {
            "description": "User session required"
          }
        }
      }
    },
    "/workspaces/{id}": {
      "patch": {
        "tags": [
          "Workspaces"
        ],
        "summary": "Update workspace",
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "required": true,
            "name": "id",
            "in": "path"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 100
                  },
                  "description": {
                    "type": "string",
                    "maxLength": 500
                  },
                  "customFields": {
                    "type": "array",
                    "items": {
                      "nullable": true
                    }
                  },
                  "labels": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string"
                        },
                        "name": {
                          "type": "string",
                          "maxLength": 100
                        },
                        "color": {
                          "type": "string",
                          "maxLength": 32
                        }
                      },
                      "required": [
                        "id"
                      ]
                    }
                  },
                  "codePrefix": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 10
                  },
                  "logo": {
                    "type": "string",
                    "nullable": true,
                    "maxLength": 2048
                  },
                  "background": {
                    "type": "string",
                    "nullable": true,
                    "maxLength": 2048
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Workspace"
                }
              }
            }
          },
          "403": {
            "description": "Not a workspace member"
          }
        }
      },
      "delete": {
        "tags": [
          "Workspaces"
        ],
        "summary": "Delete workspace",
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "required": true,
            "name": "id",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "Deleted"
          },
          "403": {
            "description": "Not a workspace member"
          }
        }
      }
    },
    "/workspaces/{id}/members": {
      "get": {
        "tags": [
          "Workspaces"
        ],
        "summary": "List members",
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "required": true,
            "name": "id",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "Member list"
          }
        }
      },
      "post": {
        "tags": [
          "Workspaces"
        ],
        "summary": "Invite member by email",
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "required": true,
            "name": "id",
            "in": "path"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "email": {
                    "type": "string",
                    "format": "email"
                  },
                  "role": {
                    "type": "string",
                    "enum": [
                      "member",
                      "admin",
                      "viewer"
                    ]
                  }
                },
                "required": [
                  "email"
                ]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Invite sent"
          },
          "403": {
            "description": "Insufficient role"
          },
          "404": {
            "description": "User not found"
          },
          "409": {
            "description": "Already a member or invite already pending"
          }
        }
      }
    },
    "/workspaces/invites": {
      "get": {
        "tags": [
          "Workspaces"
        ],
        "summary": "List pending workspace invites for current user",
        "responses": {
          "200": {
            "description": "Invite list"
          }
        }
      }
    },
    "/workspaces/{id}/invites": {
      "get": {
        "tags": [
          "Workspaces"
        ],
        "summary": "List pending workspace invites",
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "required": true,
            "name": "id",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "Invite list"
          },
          "403": {
            "description": "Insufficient role"
          }
        }
      }
    },
    "/workspaces/{id}/invites/{inviteId}": {
      "delete": {
        "tags": [
          "Workspaces"
        ],
        "summary": "Cancel pending workspace invite",
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "required": true,
            "name": "id",
            "in": "path"
          },
          {
            "schema": {
              "type": "string"
            },
            "required": true,
            "name": "inviteId",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "Invite cancelled"
          },
          "403": {
            "description": "Insufficient role"
          },
          "404": {
            "description": "Invite not found"
          }
        }
      }
    },
    "/workspaces/invites/{inviteId}/accept": {
      "post": {
        "tags": [
          "Workspaces"
        ],
        "summary": "Accept workspace invite",
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "required": true,
            "name": "inviteId",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "Invite accepted"
          },
          "404": {
            "description": "Invite not found"
          }
        }
      }
    },
    "/workspaces/invites/{inviteId}/reject": {
      "post": {
        "tags": [
          "Workspaces"
        ],
        "summary": "Reject workspace invite",
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "required": true,
            "name": "inviteId",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "Invite rejected"
          },
          "404": {
            "description": "Invite not found"
          }
        }
      }
    },
    "/workspaces/{id}/members/{userId}": {
      "delete": {
        "tags": [
          "Workspaces"
        ],
        "summary": "Remove member",
        "description": "Owners and admins may remove other members. Any member may remove themselves (leave). The owner cannot be removed without transferring ownership first.",
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "required": true,
            "name": "id",
            "in": "path"
          },
          {
            "schema": {
              "type": "string"
            },
            "required": true,
            "name": "userId",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "Member removed"
          },
          "403": {
            "description": "Insufficient role"
          }
        }
      },
      "patch": {
        "tags": [
          "Workspaces"
        ],
        "summary": "Update member role",
        "description": "Owners may set member/admin/viewer. Admins may also set roles, but cannot promote to or change the owner.",
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "required": true,
            "name": "id",
            "in": "path"
          },
          {
            "schema": {
              "type": "string"
            },
            "required": true,
            "name": "userId",
            "in": "path"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "role": {
                    "type": "string",
                    "enum": [
                      "member",
                      "admin",
                      "viewer"
                    ]
                  }
                },
                "required": [
                  "role"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Role updated"
          },
          "403": {
            "description": "Insufficient role"
          }
        }
      }
    },
    "/workspaces/{id}/transfer-ownership": {
      "post": {
        "tags": [
          "Workspaces"
        ],
        "summary": "Transfer ownership",
        "description": "Move the owner role to another existing member. The current owner becomes admin.",
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "required": true,
            "name": "id",
            "in": "path"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "newOwnerId": {
                    "type": "string"
                  }
                },
                "required": [
                  "newOwnerId"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Ownership transferred"
          },
          "400": {
            "description": "Validation error"
          },
          "403": {
            "description": "Only the owner can transfer ownership"
          },
          "404": {
            "description": "New owner is not a member"
          }
        }
      }
    }
  }
}
